/*
  VARIABLES
*/
p, span, a, li {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }
  p :hover, span :hover, a :hover, li :hover {
    color: black; }

h1, h2, h3, h4 {
  color: black;
  font-family: 'Tangerine', cursive;
  font-size: 6rem;
  line-height: 4.5rem; }

h2 {
  font-size: 3rem; }

nav a {
  font-family: 'Tangerine', cursive;
  color: white;
  font-size: 1.5rem; }

#gallery > div:nth-child(1) p, #gallery > div:nth-child(1) span {
  font-family: "playfair-display", serif; }
